<div class="card rounded-4 m-3">
  <div class="card-body">
    @if(currentUser) {
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img class="rounded-pill user-avatar" [src]="userAvatar" alt="User Avatar">
        <div class="ms-3">
          <h5 class="card-title">Benvenuto</h5>
          <h6>{{ userDisplayName }}</h6>
          <span class="badge rounded-pill text-bg-info">{{ currentUser.role }}</span>
        </div>
      </div>
      <button (click)="logout()" class="btn btn-primary d-flex align-items-center rounded-4">
        <ng-icon class="me-2" name="bootstrapDoorOpenFill" size="18"></ng-icon>
        Disconnetti
      </button>
    </div>
    }
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar menu -->
    <div class="col-md-2 p-3">
      <div class="btn-group-vertical w-100" role="group" aria-label="Admin navigation">
        <button (click)="changeCurrentView(adminViews.ACCOUNT)" type="button"
          [class.active]="isCurrentView(adminViews.ACCOUNT)"
          class="d-flex justify-content-start align-items-center btn btn-primary rounded-top-4">
          <ng-icon class="me-2" name="bootstrapPeopleFill" size="18"></ng-icon>
          Gestione account
        </button>

        <button (click)="changeCurrentView(adminViews.BILLING)" type="button"
          [class.active]="isCurrentView(adminViews.BILLING)"
          class="d-flex justify-content-start align-items-center btn btn-primary rounded-bottom-4">
          <ng-icon class="me-2" name="bootstrapFileEarmarkFill" size="18"></ng-icon>
          Fatturazione
        </button>
      </div>
    </div>

    <!-- Main content area -->
    <div class="col-md-10 p-3">
      <div class="card w-100 rounded-4">
        <div class="card-body">
          @switch (currentView) {
          @case (adminViews.ACCOUNT) {
          <app-admin-account />
          }
          @case (adminViews.BILLING) {
          <app-admin-biling />
          }
          }
        </div>
      </div>
    </div>
  </div>
</div>