<div class="d-flex justify-content-start align-items-center p-2 pb-4">
    <ng-icon class="me-2" name="bootstrapClockHistory" size="18"></ng-icon>
    <h5 class="m-0">Storico consulenze</h5>
</div>

@if(loading) {

<div class="text-center my-5">
    <ng-icon class="animate-spin" name="bootstrapArrowClockwise" size="18"></ng-icon>
    <p class="mt-2">Caricamento in corso...</p>
</div>

} @else {

<div>
    @if(transactions.length > 0) {

    <div class="d-flex justify-content-start align-items-center text-center">
        <div class="mb-3 me-3">
            Filtri:
        </div>

        <div class="mb-3">
            <div class="btn-group gap-3">
                <button class="btn btn-info btn-sm rounded-4" (click)="changeFilterStatus('all')">
                    Tutti
                </button>
                <button class="btn btn-primary btn-sm rounded-4" (click)="changeSortDirection()">
                    Ordina per data {{ sortDirection === 'asc' ? 'crescente' : 'decrescente' }}
                </button>
                <button class="btn btn-success btn-sm rounded-4" (click)="changeFilterStatus('completato')">
                    Completati
                </button>
                <button class="btn btn-danger btn-sm rounded-4" (click)="changeFilterStatus('annullato')">
                    Annullati
                </button>
            </div>
        </div>
    </div>

    <div class="card rounded-4 shadow-sm">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="text-white">
                        <tr>
                            <th>Consulenza</th>
                            <th>Data</th>
                            <th>Importo</th>
                            <th>Stato</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(t of paginatedTransaction(); track $index) {
                        <tr>
                            <td>
                                <span class="badge" [ngClass]="'bg-' + getProductNameColor(t.productName)">
                                    {{ t.productName }}
                                </span>
                            </td>
                            <td>{{ t.date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                            <td>{{ t.amount | currency:'EUR' }}</td>
                            <td>
                                <span [ngClass]="getStatusClass(t.status)">{{ t.status }}</span>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
                    <ngb-pagination [collectionSize]="filteredTransactions.length" [(page)]="page" [pageSize]="pageSize"
                        [maxSize]="maxSize" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>

    } @else {

    <div class="alert alert-info rounded-4 text-center">
        <p class="mb-0">Nessuna transazione effettuata</p>
    </div>
    }
</div>

<!-- Sezione per gli errori -->
@if(error) {

<div class="alert alert-danger rounded-4 mt-3" role="alert">
    {{ error }}
</div>

}
}