@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}

.bg-bronze {
    background-color: #cd7f32;
    color: white;
}

.bg-silver {
    background-color: #c0c0c0;
    color: black;
}

.bg-gold {
    background-color: #ffd700;
    color: black;
}