<div class="d-flex justify-content-start align-items-center p-2 pb-4">
  <ng-icon class="me-2" name="bootstrapFileEarmarkFill" size="18"></ng-icon>
  <h5 class="m-0">Fatturazione</h5>
</div>

@if (isLoading) {
<div class="text-center my-5">
  <ng-icon class="animate-spin" name="bootstrapArrowClockwise" size="18"></ng-icon>
  <p class="mt-2">Caricamento in corso...</p>
</div>
} @else {
@if (users.length === 0) {
<div class="alert alert-info rounded-4 text-center">
  <p class="mb-0">Nessun utente disponibile</p>
</div>
} @else {
<div class="row">
  <!-- Lista utenti -->
  <div class="col-md-4">
    <ul class="list-group rounded-4">
      @for (user of paginatedUsers(); track user.id) {
      <li class="list-group-item" [class.active]="selectedUser?.id === user.id">
        <div class="d-flex justify-content-start align-items-center">
          <ng-icon name="bootstrapPersonFill" size="18" class="me-3" />
          <a (click)="selectUser(user)" class="d-block w-100 link-underline link-underline-opacity-0 cursor-pointer">
            {{ getUserDisplayName(user) }}
          </a>
        </div>
      </li>
      }
    </ul>
    <!-- Paginazione utenti -->
    <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
      <ngb-pagination [collectionSize]="users.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="maxSize"
        [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>

  <!-- Dettagli utente e transazioni -->
  <div class="col-md-8">
    @if (selectedUser) {
    <div class="card rounded-4 shadow-sm mb-4">
      <div class="card-header text-white">
        <div class="d-flex align-items-center">
          <img class="rounded-circle me-3" [src]="getProfileImage(selectedUser)" alt="Foto profilo"
            style="width: 60px; height: 60px; object-fit: cover;">
          <h5 class="py-2 mb-0">{{ getUserDisplayName(selectedUser) }}</h5>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-borderless mb-0">
          <tbody>
            <tr>
              <th style="width: 30%">ID</th>
              <td>{{ selectedUser.id }}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{ selectedUser.email }}</td>
            </tr>
            <tr>
              <th>Codice fiscale</th>
              <td>{{ selectedUser.fiscalCode }}</td>
            </tr>
            <tr>
              <th>Citt&agrave;</th>
              <td>{{ selectedUser.city }}</td>
            </tr>
            <tr>
              <th>Indirizzo</th>
              <td>{{ selectedUser.route }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Transazioni -->
    <div class="card rounded-4 shadow-sm">
      <div class="card-header">
        <div class="d-flex justify-content-start align-items-center text-light">
          <ng-icon class="me-2" name="bootstrapClockHistory" size="18"></ng-icon>
          <span>Storico transazioni</span>
        </div>
      </div>
      <div class="card-body">

        @if (selectedUser.transactions && selectedUser.transactions.length > 0) {

        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Consulenza</th>
                <th>Data</th>
                <th>Importo</th>
                <th>Stato</th>
              </tr>
            </thead>
            <tbody>
              @for (t of paginatedTransaction(); track t.userId) {
              <tr>
                <td>
                  <span class="badge" [ngClass]="getProductLevelColor(t.level)">
                    {{ t.productName }}
                  </span>
                </td>
                <td>{{ t.date }}</td>
                <td>{{ t.amount | currency:'EUR' }}</td>
                <td>
                  <span [ngClass]="getStatusClass(t.status)">{{ t.status }}</span>
                </td>
              </tr>
              }
            </tbody>

          </table>
          <div class="d-flex justify-content-between align-items-center">
            <!-- Paginazione transazioni -->
            <div class="d-flex justify-content-center align-items-center mt-3">
              <ngb-pagination [collectionSize]="selectedUser.transactions.length" [(page)]="transactionPage"
                [pageSize]="transactionPageSize" [maxSize]="transactionMaxSize" [rotate]="true" [ellipses]="false"
                [boundaryLinks]="false"></ngb-pagination>
            </div>
            <!-- Download CVS -->
            <button class="d-flex justify-content-start align-items-center btn btn-sm btn-primary rounded-4"
              (click)="exportUserDataToCSV()">
              Esporta dati in CSV 
              <ng-icon name="bootstrapDownload" size="16" class="ms-2" />
            </button>
          </div>
        </div>

        } @else {

        <div class="alert alert-info mb-0 py-2 px-3 rounded-4 text-center">
          <p class="mb-0">Nessuna transazione disponibile per questo account</p>
        </div>
        }
      </div>
    </div>

    } @else {
    <div class="alert alert-info rounded-4 text-center">
      <p class="mb-0">Seleziona un account dalla lista per visualizzare i dettagli</p>
    </div>
    }
  </div>
</div>
}
}