<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <!-- Logo e Contatti -->
        <div class="d-flex justify-content-center align-items-center">
            <!-- Logo Aziendale -->
            <div>
                <img src="../../../assets/logo.png" alt="logo" class="img-fluid bw" style="max-height: 200px">
            </div>
            <!-- Blocco Contatti -->
            <div>
                <h5>Contatti</h5>
                <a href="mailto:infostanalytics@gmail.com" class="text-light">infostanalytics&#64;gmail.com</a>
            </div>
        </div>
        <!-- Divisore -->
        <hr class="bg-light">

        <!-- Informazioni Legali -->
        <div class="text-center">
            <p class="mb-0">Tutti i diritti riservati. P.IVA 02206740769</p>
            <a href="https://www.iubenda.com/privacy-policy/34602579"
                class="text-light" title="Privacy Policy ">
                Privacy Policy</a>
                •
            <a href="https://www.iubenda.com/privacy-policy/34602579/cookie-policy"
                class="text-light" title="Cookie Policy ">
                Cookie Policy</a>
        </div>
    </div>
</footer>