<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <!-- Logo -->
            <div>
                <img src="../../../assets/logo-bg.png" alt="logo" class="img-fluid" style="max-height: 200px">
            </div>

            <!-- Contatti -->
            <div>
                <h5>Contatti</h5>
                <p>Email: <a href="mailto:info@consulente.com" class="text-light">info.consulente.com</a></p>
                <p>Telefono: <a href="tel:+39123456789" class="text-light">+39 123 456 789</a></p>
            </div>
        </div>

        <hr class="bg-light">

        <!-- Privacy e Copyright -->
        <div class="text-center">
            <p class="mb-0">&copy; {{ currentYear }} STanalytics. Tutti i diritti riservati.</p>
            <a href="#" class="text-light text-decoration-none">Privacy Policy</a> •
            <a href="#" class="text-light text-decoration-none">Termini & Condizioni</a>
        </div>
    </div>
</footer>