<div class="d-flex justify-content-start align-items-center p-2 pb-4">
    <ng-icon class="me-2" name="bootstrapPeopleFill" size="18"></ng-icon>
    <h5 class="m-0">Gestione account</h5>
</div>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <!-- Tab per aggiungere nuovo account -->
    <li [ngbNavItem]="1">
        <button ngbNavLink class="d-flex justify-content-center align-items-start">
            <ng-icon name="bootstrapPersonFillAdd" size="18" class="me-1" />
            Nuovo account
        </button>
        <ng-template ngbNavContent>
            <form [formGroup]="addAccountForm" novalidate class="p-2">
                <!-- Campi del modulo aggiunta account -->
                <div class="mb-3">
                    <label for="email" class="form-label fw-semibold">Email</label>
                    <div class="input-group">
                        <input formControlName="email" class="form-control" id="email" name="email"
                            placeholder="Inserisci un email" required>
                    </div>
                    @if(email?.invalid && (email?.dirty || email?.touched)) {
                    @if(email?.hasError('required')) {
                    <div class="text-warning">L'email è obbligatoria.</div>
                    }
                    @if(email?.hasError('email')) {
                    <div class="text-warning">Inserisci un email valida</div>
                    }
                    }
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label fw-semibold">Password</label>
                    <div class="input-group">
                        <input type="text" formControlName="password" class="form-control" id="password" name="password"
                            placeholder="Inserisci una password" required>
                    </div>
                    @if(password?.invalid && (password?.dirty || password?.touched)) {
                    @if(password?.hasError('required')) {
                    <div class="text-warning">La password è obbligatoria.</div>
                    }
                    @if(password?.hasError('minlength')) {
                    <div class="text-warning">La password deve essere di almeno 6 caratteri.</div>
                    }
                    }
                </div>

                <div class="mb-3">
                    <label for="name" class="form-label fw-semibold">Nome</label>
                    <div class="input-group">
                        <input formControlName="name" class="form-control" id="name" name="name"
                            placeholder="Inserisci il nome" required>
                    </div>
                    @if(name?.invalid && (name?.dirty || name?.touched)) {
                    @if(name?.hasError('required')) {
                    <div class="text-warning">Il nome è obbligatorio.</div>
                    }
                    }
                </div>

                <div class="mb-3">
                    <label for="surname" class="form-label fw-semibold">Cognome</label>
                    <div class="input-group">
                        <input formControlName="surname" class="form-control" id="surname" name="surname"
                            placeholder="Inserisci il cognome" required>
                    </div>
                    @if(surname?.invalid && (surname?.dirty || surname?.touched)) {
                    @if(surname?.hasError('required')) {
                    <div class="text-warning">Il cognome è obbligatorio.</div>
                    }
                    }
                </div>

                <div class="mb-3">
                    <label for="fiscalCode" class="form-label fw-semibold">Codice fiscale</label>
                    <div class="input-group">
                        <input formControlName="fiscalCode" class="form-control" id="fiscalCode" name="fiscalCode"
                            placeholder="Inserisci il codice fiscale" required>
                    </div>
                    @if(fiscalCode?.invalid && (fiscalCode?.dirty || fiscalCode?.touched)) {
                    @if(fiscalCode?.hasError('required')) {
                    <div class="text-warning">Il codice fiscale è obbligatorio.</div>
                    }
                    }
                </div>

                <div class="mb-3">
                    <label for="city" class="form-label fw-semibold">Città</label>
                    <div class="input-group">
                        <input formControlName="city" class="form-control" id="city" name="city"
                            placeholder="Inserisci la città" required>
                    </div>
                    @if(city?.invalid && (city?.dirty || city?.touched)) {
                    @if(city?.hasError('required')) {
                    <div class="text-warning">La città è obbligatoria.</div>
                    }
                    }
                </div>

                <div class="mb-3">
                    <label for="route" class="form-label fw-semibold">Indirizzo</label>
                    <div class="input-group">
                        <input formControlName="route" class="form-control" id="route" name="route"
                            placeholder="Inserisci l'indirizzo" required>
                    </div>
                    @if(route?.invalid && (route?.dirty || route?.touched)) {
                    @if(route?.hasError('required')) {
                    <div class="text-warning">L'indirizzo è obbligatorio.</div>
                    }
                    }
                </div>

                <div class="mb-3">
                    <label for="role" class="form-label fw-semibold">Ruolo</label>
                    <select formControlName="role" class="form-select" id="role" name="role" required>
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                    @if(role?.invalid && (role?.dirty || role?.touched)) {
                    @if(role?.hasError('required')) {
                    <div class="text-warning">Il ruolo è obbligatorio.</div>
                    }
                    }
                </div>

                <div class="mb-3">
                    <label for="photoURL" class="form-label fw-semibold">URL Foto (opzionale)</label>
                    <div class="input-group">
                        <input formControlName="photoURL" class="form-control" id="photoURL" name="photoURL"
                            placeholder="Inserisci l'URL della foto">
                    </div>
                </div>

                @if(error) {
                <div class="alert alert-danger rounded-4" role="alert">
                    {{ error }}
                </div>
                }

                <div class="d-grid mb-3">
                    <button (click)="onSubmit()" [disabled]="!addAccountForm.valid || loading" type="button"
                        class="btn btn-primary rounded-3 d-flex justify-content-center align-items-center gap-2">
                        @if(loading) {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        } @else {
                        <span>Aggiungi account</span>
                        }
                    </button>
                    @if(close) {
                    <ngb-alert class="rounded-4 mt-4" type="success" (closed)="close = false">
                        Account aggiunto correttamente
                    </ngb-alert>
                    }
                </div>
            </form>
        </ng-template>
    </li>

    <!-- Tab per modificare account -->
    <li [ngbNavItem]="2">
        <button ngbNavLink class="d-flex justify-content-center align-items-start">
            <ng-icon name="bootstrapPersonFillGear" size="18" class="me-1" />
            Modifica Account
        </button>
        <ng-template ngbNavContent>
            <form [formGroup]="editAccountForm" novalidate class="p-2">
                <div class="mb-3">
                    <label for="userSelect" class="form-label fw-semibold">Seleziona Utente</label>
                    <select formControlName="userSelect" class="form-select" id="userSelect" name="userSelect"
                        (change)="onUserSelectChange($event)">
                        <option value="">Seleziona un utente</option>
                        @for (user of users; track getUserId(user)) {
                        <option [value]="getUserId(user)">{{ user.name }} {{ user.surname }} - {{ user.email }}</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label for="editEmail" class="form-label fw-semibold">Email</label>
                    <div class="input-group">
                        <input formControlName="email" class="form-control" id="editEmail" name="editEmail"
                            placeholder="Inserisci un email" required>
                    </div>
                    @if(editEmail?.invalid && (editEmail?.dirty || editEmail?.touched)) {
                    @if(editEmail?.hasError('required')) {
                    <div class="text-warning">L'email è obbligatoria.</div>
                    }
                    @if(editEmail?.hasError('email')) {
                    <div class="text-warning">Inserisci un email valida</div>
                    }
                    }
                </div>

                <div class="mb-3">
                    <label for="editName" class="form-label fw-semibold">Nome</label>
                    <div class="input-group">
                        <input formControlName="name" class="form-control" id="editName" name="editName"
                            placeholder="Inserisci il nome" required>
                    </div>
                    @if(editName?.invalid && (editName?.dirty || editName?.touched)) {
                    @if(editName?.hasError('required')) {
                    <div class="text-warning">Il nome è obbligatorio.</div>
                    }
                    }
                </div>

                <div class="mb-3">
                    <label for="editSurname" class="form-label fw-semibold">Cognome</label>
                    <div class="input-group">
                        <input formControlName="surname" class="form-control" id="editSurname" name="editSurname"
                            placeholder="Inserisci il cognome" required>
                    </div>
                    @if(editSurname?.invalid && (editSurname?.dirty || editSurname?.touched)) {
                    @if(editSurname?.hasError('required')) {
                    <div class="text-warning">Il cognome è obbligatorio.</div>
                    }
                    }
                </div>

                <div class="mb-3">
                    <label for="editFiscalCode" class="form-label fw-semibold">Codice fiscale</label>
                    <div class="input-group">
                        <input formControlName="fiscalCode" class="form-control" id="editFiscalCode"
                            name="editFiscalCode" placeholder="Inserisci il codice fiscale" required>
                    </div>
                    @if(editFiscalCode?.invalid && (editFiscalCode?.dirty || editFiscalCode?.touched)) {
                    @if(editFiscalCode?.hasError('required')) {
                    <div class="text-warning">Il codice fiscale è obbligatorio.</div>
                    }
                    }
                </div>

                <div class="mb-3">
                    <label for="editCity" class="form-label fw-semibold">Città</label>
                    <div class="input-group">
                        <input formControlName="city" class="form-control" id="editCity" name="editCity"
                            placeholder="Inserisci la città" required>
                    </div>
                    @if(editCity?.invalid && (editCity?.dirty || editCity?.touched)) {
                    @if(editCity?.hasError('required')) {
                    <div class="text-warning">La città è obbligatoria.</div>
                    }
                    }
                </div>

                <div class="mb-3">
                    <label for="editRoute" class="form-label fw-semibold">Indirizzo</label>
                    <div class="input-group">
                        <input formControlName="route" class="form-control" id="editRoute" name="editRoute"
                            placeholder="Inserisci l'indirizzo" required>
                    </div>
                    @if(editRoute?.invalid && (editRoute?.dirty || editRoute?.touched)) {
                    @if(editRoute?.hasError('required')) {
                    <div class="text-warning">L'indirizzo è obbligatorio.</div>
                    }
                    }
                </div>

                <div class="mb-3">
                    <label for="editRole" class="form-label fw-semibold">Ruolo</label>
                    <select formControlName="role" class="form-select" id="editRole" name="editRole" required>
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                    @if(editRole?.invalid && (editRole?.dirty || editRole?.touched)) {
                    @if(editRole?.hasError('required')) {
                    <div class="text-warning">Il ruolo è obbligatorio.</div>
                    }
                    }
                </div>

                <div class="mb-3">
                    <label for="editPhotoURL" class="form-label fw-semibold">URL Foto (opzionale)</label>
                    <div class="input-group">
                        <input formControlName="photoURL" class="form-control" id="editPhotoURL" name="editPhotoURL"
                            placeholder="Inserisci l'URL della foto">
                    </div>
                </div>

                @if(editError) {
                <div class="alert alert-danger rounded-4" role="alert">
                    {{ editError }}
                </div>
                }

                <div class="d-grid mb-3">
                    <button (click)="onEditSubmit()" [disabled]="!editAccountForm.valid || loading" type="button"
                        class="btn btn-primary rounded-3 d-flex justify-content-center align-items-center gap-2">
                        @if(loading) {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        } @else {
                        <span>Modifica account</span>
                        }
                    </button>
                    @if(editClose) {
                    <ngb-alert class="rounded-4 mt-4" type="success" (closed)="editClose = false">
                        Account modificato correttamente
                    </ngb-alert>
                    }
                </div>
            </form>
        </ng-template>
    </li>

    <!-- Tab per eliminare account -->
    <li [ngbNavItem]="3">
        <button ngbNavLink class="d-flex justify-content-center align-items-start">
            <ng-icon name="bootstrapPersonFillDash" size="18" class="me-1" />
            Elimina account
        </button>
        <ng-template ngbNavContent>
            @if(!users || users.length === 0) {
            <ngb-alert class="rounded-4 mt-4" type="warning" (closed)="close = false">
                Nessun utente disponibile
            </ngb-alert>
            } @else {
            @for (user of paginatedUsers(); track getUserId(user)) {
            <div class="d-flex justify-content-between align-items-center p-2">
                {{ user.name }} {{ user.surname }} - {{ user.email }}
                <!-- Modal -->
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <div class="d-flex justify-content-center align-items-center">
                            <ng-icon name="bootstrapCaretRightFill" size="18" class="text-danger me-3" />
                            <h4 class="modal-title" id="modal-basic-title">Attenzione</h4>
                        </div>
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <p>Si sta per eliminare definitivamente l'utente <span class="text-warning fw-bold">
                                        {{user.name }} {{ user.surname }}</span>, vuoi procedere con l'eliminazione ?
                                </p>
                            </div>
                            <div class="mb-3">
                                <ngb-alert class="rounded-4 mt-4 d-flex justify-content-center align-items-center"
                                    type="warning" (closed)="editClose = false">
                                    <div>
                                        <ng-icon name="bootstrapExclamationTriangleFill" size="18"
                                            class="text-warning me-3" />
                                    </div>
                                    <div>
                                        Se procedi con l'eliminazione, ricorda di eliminare anche l'account di
                                        autenticazione da
                                        <a href="https://firebase.google.com" target="_blank">firebase</a>
                                    </div>
                                </ngb-alert>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="deleteUser(getUserId(user))">Elimina
                            definitivamente</button>
                    </div>
                </ng-template>
                <button class="btn btn-danger" (click)="open(content)">Elimina</button>
            </div>
            }
            <!-- Pagination -->
            <ngb-pagination [collectionSize]="users.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
                [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
            </ngb-pagination>
            }
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>