<!-- access-denied.component.html-->
<div class="flex flex-col items-center justify-center h-screen text-center">
    <ngb-alert type="danger" [dismissible]="false">
        <h1 class="text-4xl font-bold text-danger">Accesso negato</h1>
        <p class="text-lg text-gray-600 mt-2">Non hai i permessi per accedere a questa pagina!</p>
        <a (click)="goBackToLogin()"
            class="mt-4 px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition cursor-pointer">
            Torna al Login
        </a>
    </ngb-alert>
</div>