:host ::ng-deep iframe {
    background-color: transparent !important;
}

:host ::ng-deep .paypal-buttons-context-iframe,
:host ::ng-deep .paypal-button-container,
:host ::ng-deep iframe.component-frame {
    border: 1px solid white;
    background-color: transparent !important;
    border-radius: 50px !important;
    overflow: hidden !important;
}