<div class="d-flex justify-content-start align-items-center p-2 pb-4">
    <ng-icon class="me-2" name="bootstrapBox2Fill" size="18"></ng-icon>
    <h5 class="m-0">Pacchetti consulenze</h5>
</div>

<p>
    Ogni percorso è unico, così come le tue esigenze.
    Nei nostri percorsi, riceverai una consulenza altamente personalizzata, con strategie mirate per ottenere il massimo
    dalle tue attività online.
    Analizzerò ogni aspetto della tua situazione e ti fornirò un piano pratico per ottenere risultati tangibili
    attraverso ecommerce online,
    self publishing, matched betting e tante altre opportunità di guadagno.
</p>

<div class="d-flex flex-wrap justify-content-evenly jusify-items-center">
    <app-packages productName="Pacchetto bronze" amount="200" level="bronze" [millisecond]="1000"></app-packages>
    <app-packages productName="Pacchetto silver" amount="350" level="silver" [millisecond]="2000"></app-packages>
    <app-packages productName="Pacchetto gold" amount="500" level="gold" [millisecond]="3000"></app-packages>
</div>