.default-color {
    background-color: #0275D8;
    color: silver;
}

.bronze {
    background-color: var(--bronze);
    color: white;
}

.silver {
    background-color: var(--silver);
    color: black;
}

.gold {
    background-color: var(--gold);
    color: black;
}