<div class="d-flex flex-wrap justify-content-start align-items-center p-2 pb-4">
    <ng-icon class="me-2" name="bootstrapBoxes" size="24"></ng-icon>
    <h5 class="m-0 text-truncate">Pacchetti consulenze</h5>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card rounded-3 border-0">
            <div class="card-body">

                <div class="mb-3">
                    <label for="packageSelect" class="form-label fs-6 fw-bold">Seleziona un pacchetto:</label>
                    <select class="form-select rounded-3" id="packageSelect" [(ngModel)]="selectedPackage">
                        <option value="">Seleziona...</option>
                        <option value="bronze">Pacchetto Bronze</option>
                        <option value="silver">Pacchetto Silver</option>
                        <option value="gold">Pacchetto Gold</option>
                    </select>
                </div>

                <p class="text-center text-md-start">
                    Ogni percorso è unico, così come le tue esigenze. Nei nostri percorsi, riceverai una consulenza
                    altamente personalizzata, con strategie mirate per ottenere il massimo dalle tue attività online.
                </p>

                @if (selectedPackage) {
                <div class="mt-4">
                    <h5 class="text-capitalize text-center text-md-start"
                        [ngStyle]="{'color': getPackageColor(selectedPackage)}">
                        Pacchetto {{ getPackageLevel(selectedPackage).toLocaleLowerCase() }}
                    </h5>
                    <p class="text-center text-md-start">{{ getDescription(selectedPackage) }}</p>

                    <div class="card rounded-3 border-0">
                        <div
                            class="d-flex flex-column flex-md-row justify-content-center justify-content-md-start align-items-center">
                            <img src="../../../../assets/logo.png" class="card-img-top w-50 w-md-25 mx-auto mx-md-0"
                                alt="{{ getPackageLevel(selectedPackage) }}">
                        </div>

                        <div class="card-body">
                            <div
                                class="d-flex flex-column flex-md-row justify-content-center justify-content-md-start align-items-center mb-3 gap-2">
                                <span class="badge text-white fs-6 rounded-3 px-3 py-2"
                                    [ngStyle]="{'background-color': getPackageColor(selectedPackage)}">
                                    <span class="text-dark">{{ getPackageLevel(selectedPackage) }}</span>
                                </span>

                                <span class="fw-bold fs-5 text-success px-3">
                                    {{ getPackagePrice(selectedPackage) | currency:'EUR':'symbol':'1.0-0' }}
                                </span>
                            </div>
                            @if(isPayPalLoading) {
                            <div class="d-flex justify-content-center justify-content-md-start">
                                <div class="text-center w-50 w-md-25">
                                    <ngx-paypal [config]="getPayPalConfig(selectedPackage)"></ngx-paypal>
                                </div>
                            </div>
                            }@else {
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="spinner-grow" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                }

                @if (transactionStatus ==='success') {
                <div class="alert alert-success rounded-3 text-center">
                    <p class="mb-0">{{ transactionMessage }}</p>
                </div>
                }

                @if (transactionStatus === 'error') {
                <div class="alert alert-danger rounded-3 text-center">
                    <p class="mb-0">{{ transactionMessage }}</p>
                </div>
                }

            </div>
        </div>
    </div>
</div>