/* Color Palette */
:root {
    --color-navy: #240750;
    --color-navy-light: #344C64;
    --color-teal-dark: #577B8D;
    --color-teal: #57A6A1;
}

/* Font DM Sans */
body {
    font-family: 'DM Sans', sans-serif;
}