<div class="container">
    <h1 class="text-start">Termini e Condizioni di Servizio</h1>
    <p class="text-start text-muted">Ultimo aggiornamento: 25/03/2025</p>

    <div class="mt-4">
        <p>Questo documento regola l'uso dei servizi di consulenza digitale offerti,
            rivolti a coloro che desiderano generare reddito extra in ambito digitale. L'accesso e l'utilizzo dei
            nostri servizi implicano l'accettazione e il rispetto di questi Termini.</p>

        <h3>1. Descrizione dei Servizi</h3>
        <p>Vengono offerte consulenze digitali personalizzate per aiutarti a generare reddito extra attraverso varie
            strategie e tecniche. Le consulenze sono fornite esclusivamente in modalità abbonamento, suddivise in
            tre categorie:</p>
        <ul>
            <li><strong style="color: var(--bronze);">Bronze:</strong> Abbonamento mensile con istruzioni operative
                online.</li>
            <li><strong style="color: var(--silver)">Silver:</strong> Abbonamento trimestrale con istruzioni operative
                online.</li>
            <li><strong style="color: var(--gold);">Gold:</strong> Abbonamento semestrale con istruzioni operative
                online.</li>
        </ul>
        <p>Le consulenze sono mirate a ottimizzare le tue opportunità online e supportarti nel raggiungimento dei
            tuoi obiettivi finanziari.</p>

        <h3>2. Registrazione e Accesso ai Servizi</h3>
        <p><strong>Registrazione:</strong> L'accesso ai nostri servizi avviene previa registrazione e approvazione
            del Consulente. Il Cliente deve inviare una richiesta via email a <a
                href="mailto:infostanalytics@gmail.com">infostanalytics&#64;gmail.com</a> per verificare la possibilità
            di avviare una collaborazione.</p>
        <p><strong>Approvazione:</strong> Il Consulente valuterà la richiesta e, se accettata, il Cliente dovrà
            fornire le seguenti informazioni:</p>
        <ul>
            <li>Nome e cognome</li>
            <li>Indirizzo email</li>
            <li>Password</li>
            <li>Città e indirizzo</li>
            <li>Codice fiscale</li>
            <li>Eventuale foto profilo sotto forma di URL</li>
        </ul>
        <p><strong>Accettazione:</strong> La registrazione sarà completata solo dopo l'approvazione della richiesta
            e la fornitura di tutte le informazioni richieste.</p>

        <h3>3. Obblighi del Cliente</h3>
        <p>Il Cliente è responsabile di fornire informazioni accurate e complete durante il processo di
            registrazione. Il Cliente si impegna a utilizzare i servizi in conformità alle leggi applicabili e a non
            utilizzarli per
            scopi fraudolenti o illegali. Il Cliente riconosce che i risultati delle consulenze possono variare in base
            all'impegno, alle
            competenze e alle condizioni di mercato.</p>

        <h3>4. Pagamenti</h3>
        <p>I metodi di pagamento accettati sono PayPal e Carta di Credito. I pagamenti devono essere effettuati
            anticipatamente prima dell'attivazione dell'abbonamento. Tutti i pagamenti sono finali e non rimborsabili,
            salvo diversa indicazione da parte nostra.</p>

        <h3>5. Durata e Cancellazione</h3>
        <p><strong>Durata:</strong> La durata della consulenza dipende dal piano di abbonamento scelto (mensile,
            trimestrale o semestrale).
        </p>
        <p><strong>Cancellazione da parte del Cliente:</strong> Il Cliente può annullare la
            consulenza con un
            preavviso di 14 giorni prima del rinnovo. In caso di cancellazione, verrà applicata una penale pari al
            20% dell’importo residuo dell’abbonamento in corso.</p>
        <p><strong>Cancellazione da parte nostra:</strong> Ci
            riserviamo il diritto di annullare una consulenza in
            qualsiasi momento, rimborsando al Cliente l'importo proporzionale ai mesi di abbonamento non fruiti.</p>

        <h3>6. Limiti di Responsabilità</h3>
        <p>Forniamo consulenze basate su esperienza e conoscenza, senza garantire risultati specifici o un reddito
            minimo. Il Cliente accetta che i risultati dipendono da diversi fattori, tra cui l'impegno personale, le
            risorse
            disponibili e le condizioni di mercato. Non siamo responsabili per eventuali perdite o danni derivanti
            dall'uso delle strategie suggerite.</p>

        <h3>7. Proprietà Intellettuale</h3>
        <p>Tutti i contenuti e le informazioni fornite durante le consulenze sono di nostra esclusiva proprietà. Il
            Cliente non è autorizzato a copiare, distribuire o utilizzare i contenuti per scopi commerciali senza
            il nostro consenso scritto.</p>

        <h3>8. Privacy e Protezione dei Dati</h3>
        <p>Ci impegniamo a proteggere la privacy del Cliente e a trattare i dati personali in conformità con la
            normativa applicabile, inclusi il GDPR. I dati forniti saranno utilizzati esclusivamente per l'erogazione
            dei servizi e non saranno condivisi con
            terzi senza il consenso del Cliente, salvo obblighi di legge.</p>

        <h3>9. Modifiche ai Termini</h3>
        <p>Ci riserviamo il diritto di modificare i presenti Termini in qualsiasi momento. Le modifiche avranno effetto
            immediato dalla pubblicazione sul sito web o tramite comunicazione diretta
            al Cliente. Si consiglia di consultare regolarmente i Termini per restare aggiornati.</p>

        <h3>10. Legge Applicabile e Risoluzione delle Controversie</h3>
        <p>I presenti Termini sono regolati dalla legge italiana. In caso di controversie, sarà competente il Tribunale
            di Potenza per la risoluzione della disputa.</p>

        <h3>11. Contatti</h3>
        <p>Per qualsiasi domanda o chiarimento riguardo a questi Termini, puoi contattarci all’indirizzo email: <a
                href="mailto:infostanalytics@gmail.com">infostanalytics&#64;gmail.com</a>.
        </p>
    </div>
</div>
<div class="d-flex justify-content-end">
    <button type="button" class="d-flex align-items-center btn btn-primary rounded-3 m-3" routerLink="/login">
        Torna al login
        <ng-icon class="ms-3" name="bootstrapBoxArrowInLeft" size="18"></ng-icon>
    </button>
</div>